
Exercicios Python/venv/bin/activate.fish
Exercicios Python/venv/bin/activate
Exercicios Python/venv/bin/activate.csh
Exercicios Python/venv/bin/easy_install
Exercicios Python/venv/bin/easy_install-3.7
Exercicios Python/venv/bin/pip
Exercicios Python/venv/bin/pip3
*.7
Exercicios Python/venv/bin/python
Exercicios Python/venv/bin/python3
Exercicios Python/venv/lib64
*.cfg
